<div class="widget widget-about-me">
    <div class="widget-content">
        <div class="widget-about-me-profile">
            <img src="/assets/dist/img/Logo_netzwerk.png" alt="Logo Neztwerk">
        </div>
        <div class="widget-extra-info-holder">
            <div class="widget-author-name">
                <h3>Netzwerk</h3>
                <span class="author-profession">Blogger</span>
            </div>
            <div class="widget-author-bio">
                <p>
                    Me gusta platicar sobre liderazgo y trabajo en equipo. Me ha tocado trabajar con todo tipo de gente
                    y me gusta desarrollar a mis equipos. Espero que este sea un espacio donde se puedan compartir ideas
                    de como hacer equipos de alto desempeño.
                </p>
            </div>
            <div class="widget-author-social">
                {{>socialmedia}}
            </div>

        </div>
        <!-- // widget-extra-info-holder -->
    </div>
    <!-- // widget-content -->
</div>
<!-- // widget -->