<div class="widget widget-about-me">
    <div class="widget-content">
        <div class="widget-about-me-profile">
            <img src="./assets/dist/img/Logo_netzwerk.png" alt="Logo Neztwerk">
        </div>
        <div class="widget-extra-info-holder">
            <div class="widget-author-name">
                <h3>Netzwerk</h3>
                <span class="author-profession">Blogger</span>
            </div>
            <div class="widget-author-bio">
                <p>
                    Llevo trabajando 16 años en la industria automotriz. He sido parte de proyectos de transferencia, me
                    ha tocado cerrar fabricas y abrir nuevas plantas. Me gusta lo que hago y lo que más disfruto es
                    resolver retos con mi equipo. Espero que de algo te sirva lo que aquí comparto.
                </p>
            </div>
            <div class="widget-author-social">
                {{>socialmedia}}
            </div>
            
        </div>
        <!-- // widget-extra-info-holder -->
    </div>
    <!-- // widget-content -->
</div>
<!-- // widget -->