<div class="widget widget-category">
    <div class="widget-content">
        <div class="widget-title">
            <h2>Category</h2>
        </div>
        <div class="widget-extra-info-holder">
            <ul class="widget-category-listings">
                <li><a href="#">Lifestyle</a></li>
                <li><a href="#">Health</a></li>
                <li><a href="#">Article</a></li>
                <li><a href="#">Travel</a></li>
                <li><a href="#">Uncategorised</a></li>
            </ul>
        </div>
        <!-- // widget-extra-info-holder -->
    </div>
    <!-- // widget-content -->
</div>
<!-- // widget widget-category -->