<div class="comment-area-wrapper">
    <div class="comment-area-inner">
        <div class="comments">
            <div class="comments__list">
                <div class="comment-listing-tile">
                    <h4>4 Comments Found</h4>
                </div>
                <article class="review-box clearfix">
                    <figure class="rev-thumb"><img src="./assets/dist/img/profiles/placeholder300x300.png" alt="">
                    </figure>
                    <div class="rev-content">
                        <div class="rev-info"><strong>Sara – February 04, 2017: </strong>
                        </div>
                        <div class="rev-text">
                            <p>Sed eget turpis a pede tempor malesuada. Vivamus quis mi at
                                leo pulvinar hendrerit. Cum sociis natoque penatibus et
                                magnis dis</p>
                        </div>
                        <div class="rev-reply">
                            <a href="#"><span><i class="fa fa-reply" aria-hidden="true"></i>
                                    Reply</span></a>
                        </div>
                    </div>
                </article>
                <article class="review-box sub-comment-first clearfix">
                    <figure class="rev-thumb"><img src="./assets/dist/img/profiles/placeholder300x300.png" alt="">
                    </figure>
                    <div class="rev-content">
                        <div class="rev-info"><strong>John – February 04, 2017: </strong>
                        </div>
                        <div class="rev-text">
                            <p>Sed eget turpis a pede tempor malesuada. Vivamus quis mi at
                                leo pulvinar hendrerit. Cum sociis natoque penatibus et
                                magnis dis</p>
                        </div>
                        <div class="rev-reply">
                            <a href="#"><span><i class="fa fa-reply" aria-hidden="true"></i>
                                    Reply</span></a>
                        </div>
                    </div>
                </article>
                <article class="review-box  sub-comment-second clearfix">
                    <figure class="rev-thumb"><img src="./assets/dist/img/profiles/placeholder300x300.png" alt="">
                    </figure>
                    <div class="rev-content">
                        <div class="rev-info"><strong>Rehana – February 04, 2017: </strong>
                        </div>
                        <div class="rev-text">
                            <p>Sed eget turpis a pede tempor malesuada. Vivamus quis mi at
                                leo pulvinar hendrerit. Cum sociis natoque penatibus et
                                magnis dis</p>
                        </div>
                        <div class="rev-reply">
                            <a href="#"><span><i class="fa fa-reply" aria-hidden="true"></i>
                                    Reply</span></a>
                        </div>
                    </div>
                </article>
                <article class="review-box clearfix">
                    <figure class="rev-thumb"><img src="./assets/dist/img/profiles/placeholder300x300.png" alt="">
                    </figure>
                    <div class="rev-content">
                        <div class="rev-info"><strong>Mark – February 04, 2017: </strong>
                        </div>
                        <div class="rev-text">
                            <p>Sed eget turpis a pede tempor malesuada. Vivamus quis mi at
                                leo pulvinar hendrerit. Cum sociis natoque penatibus et
                                magnis dis</p>
                        </div>
                        <div class="rev-reply">
                            <a href="#"><span><i class="fa fa-reply" aria-hidden="true"></i>
                                    Reply</span></a>
                        </div>
                    </div>
                </article>
            </div>
            <!-- // comments__list -->
            {{>submitComments}}
            <!-- // comment-box -->
        </div>
    </div>
    <!-- // comment-area-inner -->
</div>