<div role="alert" aria-live="assertive" aria-atomic="true" class="toast" id="errorToast" data-delay="4000"
    style="position: absolute; top: 20px; right: 0">
    <div class="toast-body d-flex" id="bodyToast"><span><i style="margin: 3px"
                class="far fa-times-circle text-danger"></i></span>
        <div id="errorText"></div>
    </div>
</div>