<div class="widget widget-facebook-page-box">
    <div class="widget-content">
        <div class="widget-title">
            <h2>Facebook page</h2>
        </div>
        <div class="widget-extra-info-holder">
            <iframe
                src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fnetzwerkmx&tabs=timeline&width=340&height=500&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=false&appId=212194213188545"
                width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                allowTransparency="true" allow="encrypted-media"></iframe>
        </div>
        <!-- // widget-extra-info-holder -->
    </div>
    <!-- // widget-content -->
</div>
<!-- // widget widget-category -->