<div class="widget widget-facebook-page-box">
    <div class="widget-content">
        <div class="widget-title">
            <h2>Facebook page</h2>
        </div>
        <div class="widget-extra-info-holder">
            <iframe
                width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                allowTransparency="true" id="facebookFrame" allow="encrypted-media"></iframe>
        </div>
        <!-- // widget-extra-info-holder -->
    </div>
    <!-- // widget-content -->
</div>
<!-- // widget widget-category -->