<div id="content">

    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>
                <span>Toggle Sidebar</span>
            </button>
             <button type="button" id="addLibro" class="btn btn-info">
                <i class="fas fa-plus-square"></i>
                <span>Nuevo Libro</span>
            </button>
            <button type="button" id="logoutButton" class="btn btn-danger" onclick="location.href='/logout'">
                <i class="fas fa-sign-out-alt"></i>
                <span>Logout</span>
            </button>
        </div>
    </nav>
    <div class="container-fluid">
        <ul class="list-group" id="libroList">
            <!--{{#each data}}
            <li class="list-group-item d-flex justify-content-around align-items-start">
                {{this.title}}
                <div>
                    <a class="btn btn-primary" href={{this.url}} role="button"><i class="far fa-eye"></i></a>
                    <button type="button" class="btn btn-primary"><i class="fas fa-edit"></i></button>
                    <button type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                </div>
            </li>
            {{/each}}-->
        </ul>

        <div class="data-container"></div>
        <div class="row justify-content-center">
            <div class="paginationjs" id="pagination-containerlibro">

            </div>
        </div>


    </div>



</div>