<div class="modal fadeIn" id="modalTwitterCenter"  role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" id="modalPostDialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTwitterLongTitle">Actualizar Metatags</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalTwitterBody">
                <form id="postMeta">
                    <div class="form-row">
                        <div class="col input-container">
                            <div class="input-icon">
                                <i class="fas fa-pencil-alt"></i>
                            </div>
                            <input type="text" class="form-control" id="metatagTitle" placeholder="Titulo">

                        </div>
                        <div class="col input-container">
                            <div class="input-icon"> 
                                <i class="fas fa-audio-description"></i>
                            </div>
                            <input type="text" class="form-control"  id="metatagDescription" placeholder="Descripción">

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col input-container">
                            <div class="input-icon">
                                <i class="fas fa-key"></i>
                            </div>
                            <input type="text" class="form-control"  id="metatagKeywords" placeholder="Keywords">

                        </div>
                        <div class="col input-container">
                            <div class="input-icon"> 
                                <i class="far fa-address-card"></i>
                            </div>
                            <input type="text" class="form-control"  id="metatagCardType" placeholder="summary_large_image">

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col input-container">
                            <div class="input-icon">
                                <i class="far fa-user"></i>
                            </div>
                            <input type="text" class="form-control"  id="metatagSite" placeholder="@netzwerk13">

                        </div>
                        <div class="col input-container">
                            <div class="input-icon"> 
                                <i class="far fa-user"></i>
                            </div>
                            <input type="text" class="form-control"  id="metatagCreator" placeholder="@netzwerk13">

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col input-container">
                            <div class="input-icon">
                                <i class="fas fa-link"></i>
                            </div>
                            <input type="text" class="form-control"  id="metatagUrl" placeholder="url">

                        </div>
                        <div class="col input-container">
                            <div class="input-icon"> 
                                <i class="fab fa-twitter-square"></i>
                            </div>
                            <input type="text" class="form-control"  id="metatagTwitterTitle" placeholder="Twitter Title">

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col input-container">
                            <div class="input-icon">
                                <i class="fab fa-twitter"></i>
                            </div>
                            <input type="text" class="form-control"  id="metatagTwitterDescription" placeholder="Twitter Description">

                        </div>
                        <div class="col input-container">
                            <div class="input-icon"> 
                                <i class="far fa-image"></i>
                            </div>
                            <input type="text" class="form-control"  id="metatagTwitterImage" placeholder="Twitter Image">

                        </div>
                    </div>
                </form>

            </div>
            <div class="row modal-footer" id="modalFooter">
                <div class="col">
                    <button type="button" style="width: 100%" id="createTwitter" class="btn btn-primary">Actualizar MetaTags</button>
                </div>
            </div>
        </div>
    </div>
</div>