<div class="modal fadeIn" id="modalPostCenter"  role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" id="modalPostDialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalPostLongTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalPostBody">
                <form id="postBlogMain">
                    <div class="form-row">
                        <div class="col input-container">
                            <div class="input-icon">
                                <i class="fas fa-pencil-alt"></i>
                            </div>
                            <input type="text" class="form-control" id="tituloPost" placeholder="Titulo">

                        </div>
                        <div class="col input-container">
                            <div class="input-icon"> 
                                <i class="fas fa-link"></i>
                            </div>
                            <input type="text" class="form-control" id="urlPost" placeholder="url">

                        </div>
                    </div>
                </form>
                <div class="tinyArea">
                    <textarea name=content id="descriptionPost"></textarea>
                </div>

            </div>
            <div class="row modal-footer" id="modalFooter">
                <div class="col">
                    <button type="button" style="width: 100%" id="createPost" class="btn btn-primary"></button>
                </div>
            </div>
        </div>
    </div>
</div>