<div class="widget widget-newsletter">
    <div class="widget-content">
        <div class="widget-title">
            <h2>Newsletter</h2>
        </div>
        <div class="widget-extra-info-holder">
            <div class="widget-newsletter-content">
                <p>Subscribe to newsletter to be updated with all the latest trends and
                    products.</p>
                <form>
                    <div class="form-group">
                        <input type="email" name="newsletter-email" placeholder="Email Address ..."
                            class="form-control">
                    </div>
                    <div class="form-group">
                        <button type="submit" name="submit" class="layout-one-btn">Subscribe</button>
                    </div>
                </form>
            </div>
            <!--// widget-newsletter-content -->
        </div>
        <!-- // widget-extra-info-holder -->
    </div>
    <!-- // widget-content -->
</div>
<!-- // widget widget-newsletter -->