<div class="widget widget-popular-post">
    <div class="widget-content">
        <div class="widget-title">
            <h2>Popular Posts</h2>
        </div>
        <div class="widget-extra-info-holder" id="favPost">
            <!--div class="widget-posts">
                <div class="post-thumb">
                    <img src="./assets/dist/img/thumb/placeholder200x120.png" alt=".....">
                </div>
                <div class="post-title">
                    <h5><a href="#">That Evening At Bali Beach Was Wounderful Then Any
                            Other Mornings</a></h5>
                </div>
                
            </div-->
            <!-- // widget-post -->
            
        </div>
        <!-- // widget-extra-info-holder -->
    </div>
    <!-- // widget-content -->
</div>
<!-- // widget -->