<div class="widget widget-popular-post">
    <div class="widget-content">
        <div class="widget-title">
            <h2>Popular Posts</h2>
        </div>
        <div class="widget-extra-info-holder">
            <div class="widget-posts">
                <div class="post-thumb">
                    <img src="./assets/dist/img/thumb/placeholder200x120.png" alt=".....">
                </div>
                <div class="post-title">
                    <h5><a href="#">That Evening At Bali Beach Was Wounderful Then Any
                            Other Mornings</a></h5>
                </div>
                <div class="post-view-count post-meta">
                    <p>1277 <span>Views</span></p>
                </div>
            </div>
            <!-- // widget-post -->
            <div class="widget-posts">
                <div class="post-thumb">
                    <img src="./assets/dist/img/thumb/placeholder200x120.png" alt=".....">
                </div>
                <div class="post-title">
                    <h5><a href="#">5 Reasons Why Ladies Prefer To Have Brown Hair And
                            Black Dress</a></h5>
                </div>
                <div class="post-view-count post-meta">
                    <p>865 <span>Views</span></p>
                </div>
            </div>
            <!-- // widget-post -->
            <div class="widget-posts">
                <div class="post-thumb">
                    <img src="./assets/dist/img/thumb/placeholder200x120.png" alt=".....">
                </div>
                <div class="post-title">
                    <h5><a href="#">This post has just gone viral with many views</a>
                    </h5>
                </div>
                <div class="post-view-count post-meta">
                    <p>721 <span>Views</span></p>
                </div>
            </div>
            <!-- // widget-post -->
            <div class="widget-posts">
                <div class="post-thumb">
                    <img src="./assets/dist/img/thumb/placeholder200x120.png" alt=".....">
                </div>
                <div class="post-title">
                    <h5><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit</a></h5>
                </div>
                <div class="post-view-count post-meta">
                    <p>234 <span>Views</span></p>
                </div>
            </div>
            <!-- // widget-post -->
        </div>
        <!-- // widget-extra-info-holder -->
    </div>
    <!-- // widget-content -->
</div>
<!-- // widget -->