<div class="widget widget-recent-posts">
    <div class="widget-content">
        <div class="widget-title">
            <h2>Recent posts</h2>
        </div>
        <div class="widget-extra-info-holder">
            <div class="widget-recent-posts">
                <div class="widget-rpag-gallery-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="./assets/dist/img/banner/placeholder640x425.png" alt="....">
                            <div class="mask"></div>
                            <div class="slide-content">
                                <div class="post-title">
                                    <h5><a href="#">That Evening At Bali Beach Was Wounderful Then Any Other
                                            Mornings</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <img src="./assets/dist/img/banner/placeholder640x425.png" alt="....">
                            <div class="mask"></div>
                            <div class="slide-content ">
                                <div class="post-title">
                                    <h5><a href="#">That Evening At Bali Beach Was Wounderful Then Any Other
                                            Mornings</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <img src="./assets/dist/img/banner/placeholder640x425.png" alt="....">
                            <div class="mask"></div>
                            <div class="slide-content ">
                                <div class="post-title">
                                    <h5><a href="#">That Evening At Bali Beach Was Wounderful Then Any Other
                                            Mornings</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <img src="./assets/dist/img/banner/placeholder640x425.png" alt="....">
                            <div class="mask"></div>
                            <div class="slide-content ">
                                <div class="post-title">
                                    <h5><a href="#">That Evening At Bali Beach Was Wounderful Then Any Other
                                            Mornings</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <img src="./assets/dist/img/banner/placeholder640x425.png" alt="....">
                            <div class="mask"></div>
                            <div class="slide-content">
                                <div class="post-title">
                                    <h5><a href="#">That Evening At Bali Beach Was Wounderful Then Any Other
                                            Mornings</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <!-- // widget-rpag-gallery-container -->
            </div>
            <!--// widget-recent-posts -->
        </div>
        <!-- // widget-extra-info-holder -->
    </div>
    <!-- // widget-content -->
</div>
<!-- // widget widget-newsletter -->