<div class="related-posts-wrapper">
    <div class="related-posts-inner">
        <div class="related-post-carousel owl-carousel">
            <div class="grid-item item">
                <article class="post-details-holder layout-three-post-details-holder">
                    <div class="post-image">
                        <img src="./assets/dist/img/placeholder1280x720.png" alt="....">
                    </div>
                    <!-- // post image -->
                    <div class="post-extra-details">
                        <div class="post-title">
                            <h2><a href="#">That evening at bali beach was wounderful then
                                    any other evening</a></h2>
                        </div>
                    </div>
                    <!-- // post extra details -->
                </article>
                <!-- // article -->
            </div>
            <!-- // grid-item -->
            <div class="grid-item item">
                <article class="post-details-holder layout-three-post-details-holder">
                    <div class="post-image">
                        <img src="./assets/dist/img/placeholder1280x720.png" alt="....">
                    </div>
                    <!-- // post image -->
                    <div class="post-extra-details">
                        <div class="post-title">
                            <h2><a href="#">5 Reasons Why Ladies Prefer To Have Brown Hair
                                    And Black Dress</a></h2>
                        </div>
                    </div>
                    <!-- // post extra details -->
                </article>
                <!-- // article -->
            </div>
            <!-- // grid-item -->
        </div>
        <!-- // related-post-carousel -->
    </div>
    <!-- // related-posts-inner -->
</div>