<ul class="social-links">
    <li><a href="https://www.facebook.com/netzwerkmx"></a></li>
    <li><a href="https://twitter.com/Netzwerk13"></a></li>
    <!--Future Social Media
    <li><a href="instagram.com"></a></li>
    <li><a href="youtube.com"></a></li>
    <li><a href="snapchat.com"></a></li-->
</ul>