<div role="alert" aria-live="assertive" aria-atomic="true" class="toast" id="successToast" data-delay="4000"
    style="position: absolute; top: 20px; right: 0;">

    <div class="toast-body d-flex" id="bodySuccessToast"><span><i style="margin: 3px"
                class="far fa-check-circle text-success"></i></span>
        <div id="successText"></div>
    </div>
</div>