<div id="content">

    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>
                <span>Toggle Sidebar</span>
            </button>
             <button type="button" id="addTweet" class="btn btn-info">
                <i class="fas fa-plus-square"></i>
                <span>Nuevo Tweet</span>
            </button>
            <button type="button" id="logoutButton" class="btn btn-danger" onclick="location.href='/logout'">
                <i class="fas fa-sign-out-alt"></i>
                <span>Logout</span>
            </button>
        </div>
    </nav>
    <div class="container-fluid">
        <ul class="list-group" id="tweetList">
            
        </ul>

        <div class="data-container"></div>
        <div class="row justify-content-center">
            <div class="paginationjs" id="pagination-containertweet">

            </div>
        </div>


    </div>



</div>