<div class="widget widget-facebook-page-box">
    <div class="widget-content">
        <div class="widget-title">
            <h2>Twitter</h2>
        </div>
        <div class="widget-extra-info-holder">
            <a class="twitter-timeline" data-width="300" data-height="500" data-theme="" data-chrome="noscrollbar transparent"
                href="https://twitter.com/Netzwerk13?ref_src=twsrc%5Etfw">Tweets by Netzwerk13</a>
            <script defer src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <!-- // widget-post -->
        </div>
        <!-- // widget-content -->
    </div>
    <!-- // footer-widget-content -->
</div>
<!-- // footer block -->