
    <div class="col-lg-6 float-right center1 txt-center card-box2 two-step-div">
        <img class="my-img"
            src="https://icons-for-free.com/iconfiles/png/512/locked+login+password+privacy+private+protect+protection+safe-1320196167397530530.png">
        <p class="two-title">Verificacion de Dos Pasos</p>
        <!--p class="two-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            <br>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
        </p-->
        <form id="form">
            <div>
                <input type="number" maxLength="1" id="first" name="first" size="1" min="0" max="9" pattern="[0-9]{1}" />
                <input class="not-first" type="number" id="second" name="second" maxLength="1" size="1" min="0" max="9"
                    pattern="[0-9]{1}" />
                <input class="not-first" type="number"  id="third" name="third" maxLength="1" size="1" min="0" max="9"
                    pattern="[0-9]{1}" />
                <input class="not-first" type="number" id="fourth" name="fourth" maxLength="1" size="1" min="0" max="9"
                    pattern="[0-9]{1}" />
                <input class="not-first" type="number" id="fifth" name="fifth" maxLength="1" size="1" min="0" max="9"
                    pattern="[0-9]{1}" />
                <input class="not-first" type="number" id="sixth" name="sixth" maxLength="1" size="1" min="0" max="9"
                    pattern="[0-9]{1}" />
            </div>
            <button style="margin-top: 35px" id="verifyFA" userId={{userId}} class="btn btn-primary btn-embossed btn-verify">Verify</button>

        </form>
    </div>
