<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Netzwerk</h3>
            <strong><i class="fas fa-bars"></i></strong>
        </div>

        <ul class="list-unstyled components">
            <!--p>Dummy Heading</p-->
            <!--li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="#">Home 1</a>
                    </li>
                    <li>
                        <a href="#">Home 2</a>
                    </li>
                    <li>
                        <a href="#">Home 3</a>
                    </li>
                </ul>
            </li-->
            <li {{#if userAdmin}}class="active" {{/if}}>
                <a href="/admin">
                    <i class="fas fa-users"></i>
                    Users
                </a>
            </li>
            <li {{#if postAdmin}}class="active" {{/if}}>
                <a href="/admin/blog">
                    <i class="fas fa-keyboard"></i>
                    Blog
                </a>
            </li>
             <li {{#if libroAdmin}}class="active" {{/if}}>
                <a href="/admin/libros">
                    <i class="fas fa-book"></i>
                    Libros
                </a>
            </li>
             <li {{#if tweetAdmin}}class="active" {{/if}}>
                <a href="/admin/tweet">
                    <i class="fab fa-twitter"></i>
                    Tweets
                </a>
            </li>
            <li {{#if imageAdmin}}class="active" {{/if}}>
                <a href="/admin/images">
                    <i class="fas fa-camera-retro"></i>
                    Images
                </a>
            </li>

        </ul>

    </nav>
    
        <!-- Page Content -->
        {{#if userAdmin}}
        {{>userAdmin}}
        {{/if}}

        {{#if postAdmin}}
        {{>postAdmin}}
        {{/if}}

        
        {{#if libroAdmin}}
        {{>libroAdmin}}
        {{/if}}

         {{#if tweetAdmin}}
        {{>tweetAdmin}}
        {{/if}}

        {{#if imageAdmin}}
        {{>imageAdmin}}
        {{/if}}

</div>

<!--Toast-->
{{>successToast}}
{{>errorToast}}

<!-- Modal -->
<div class="modal fadeIn" id="adminModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" id="modalDialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="adminModalLongTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="adminModalBody">
                <div id="modalBodyAlert" style="display:none">

                </div>
                <div id="userForm" style="display:none">
                    {{>addUserForm}}
                    <div id="alertForm">

                    </div>
                </div>
            </div>
            <div class="modal-footer" id="modalFooter">
                <!--button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button-->
                <!--button type="button" class="btn btn-danger">Borrar</button-->
            </div>
        </div>
    </div>
</div>

<!--Modal Nuevo Post-->
{{>modalPost}}
{{>modalTwitter}}
{{>modalImage}}
{{>modalConfirmDelete}}
{{>modalTweet}}
{{>modalFA}}

<!--Modal Nuevo Libro-->
{{>modalLibro}}

<!--script src="https://code.jquery.com/jquery.js"></script>
<script src="/assets/dist/js/pagination.js"></script>
<script src="/assets/dist/js/bootstrap-notify.js"></script>
<script src="/assets/dist/js/admin.js"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script-->