<div>
  <!--loginForm-->
  {{>newloginForm}}
</div>

<!--Toast-->
{{>successToast}}
{{>errorToast}}
{{>modalForgotPwd}}



<!--script src="https://code.jquery.com/jquery.js"></script>
<script src="/assets/dist/js/bootstrap-notify.js"></script>
<script src="assets/dist/js/login.js"></script-->