<div class="row justify-content-md-center">
  {{>loginForm}}
</div>

<!--Toast-->
{{>successToast}}
{{>errorToast}}



<script src="https://code.jquery.com/jquery.js"></script>
<script src="/assets/dist/js/bootstrap-notify.js"></script>
<script src="assets/dist/js/login.js"></script>