<div class="login-wrap">
    <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Recuperar
            Contrase単a</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
        <div class="login-form">
            <form class="sign-in-htm" id="resetPwd" role="form">
                <div class="group pass_show">
                    <label for="user" class="label">Nueva Contrase単a</label>
                    <input id="newPassword" type="password" class="input" required>
                </div>
                <div class="group pass_show">
                    <label for="pass" class="label">Confirmar Contrase単a</label>
                    <input id="confirmPassword" type="password" class="input" required>
                </div>
                <!--div class="group">
					<input id="check" type="checkbox" class="check" checked>
					<label for="check"><span class="icon"></span> Keep me Signed in</label>
				</div-->
                <div class="group">
                    <button type="submit" id="btnReset" value={{token}} class="button">Restablecer Contrase単a</button>
                </div>
                <div class="hr"></div>
                <div class="col" id="alertZone">
                </div>

            </form>
        </div>
    </div>
</div>