<div class="container-fluid">
    <div class="row justify-content-md-center">
        <aside class="col-sm-5">
            <div class="card">
                <article class="card-body">
                    <h4 class="card-title mb-4 mt-1">Restablecer Contrase単a</h4>
                    <form role="form" id="resetPwd">
                        <div class="form-group pass_show">
                            <label>Nueva Contrase単a</label>
                            <input type="password" value="" id="newPassword" class="form-control"
                                placeholder="New Password" required>
                        </div> <!-- form-group// -->
                        <div class="form-group pass_show">
                            <label>Confirmar Contrase単a</label>
                            <input type="password" value="" id="confirmPassword" class="form-control"
                                placeholder="Confirm Password" required>
                        </div> <!-- form-group// -->
                        <div class="form-group">

                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <button type="submit" value={{token}} id="btnReset"
                                class="btn btn-primary btn-block">Restablecer Contrase単a</button>
                        </div> <!-- form-group// -->
                    </form>
                    <div class="col" id="alertZone">
                    </div>
                </article>
            </div> <!-- card.// -->

        </aside>
    </div>

</div>